@charset "UTF-8";

* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

/*Configurações Body*/
body {
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    background-color: rgb(118, 202, 230);
}

/*Configurações Header*/
header {
    text-align: center;
    margin: 10px 0px 20px 0px;
}

/*Configurações Main*/
section {
    background-color: white;
    color: black;   
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.342);

    padding: 10px;
    border-radius: 10px;
    width: 500px;
    margin: auto;
}
p * {
    margin: 10px 0px ;
}

input[type=submit] {
    padding: 3px;
}

/*Configurações Div*/
div#cont {
    margin-top: 10px;
}

/*Configurações Footer*/
footer {
    margin-top: 10px;
    text-align: center;
    font-style: italic;
}